---
import AlgoLayout from "../layouts/AlgoLayout.astro";
import SubHeader from "../components/HeaderFooter/SubHeader.astro";
import CodeView from "../components/Details/CodeView.astro";

import lookup from "../lookup.json";
import Visualizer from "../components/Details/Visualizer";
import Details from "../components/Details/Details.astro";

export function getStaticPaths() {
    let l = [];
    for (let algo of lookup) {
        l.push({ params: { name: algo.name } });
    }
    return l;
}
let active = 0;
let name: any = Astro.params.name ? Astro.params.name : "";
let arr: Array<string> = [];
let details;
for (let algo of lookup) {
    if (algo.name == name) {
        arr = algo.lang;
        details = algo.details;
        break;
    }
}
---

<AlgoLayout title={name + " Algorithm"}>
    <div slot="code" class="code">
        {
            arr.map((key: string, i: number) => {
                return (
                    <div
                        class={
                            "code-unit" +
                            " " +
                            (active == i ? "active" : "non-active")
                        }
                    >
                        <SubHeader lang={arr} active={i} />
                        <CodeView name={name} index={i} />
                    </div>
                );
            })
        }
    </div>
    <div slot="visual" class="visual">
        <SubHeader title={name + " Sort"} />
        <Visualizer name={name} client:visible />
        <Details details={details} name={name} />
    </div>
</AlgoLayout>

<style>
    .active {
        display: block;
    }
    .non-active {
        display: none;
    }
    .code-unit {
        height: 100%;
    }
    .code {
        width: 100%;
        height: 100%;
        border-bottom: 1px solid;
        border-color: aliceblue;
        position: relative;
        overflow: hidden;
    }
    .visual {
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
</style>
