---
import BaseLayout from "../layouts/BaseLayout.astro";
import lookup from "../lookup.json";
---

<BaseLayout>
    <div class="table">
        <div class="headers">
            <div>S. no.</div>
            <div class="large-cell">Algorithm Name</div>
            <div class="complexity">
                <div>Complexities</div>
                <div class="complexity-individual">
                    <div>Time (Best)</div>
                    <div>Time (Average)</div>
                    <div>Time (Worst)</div>
                    <div>Space</div>
                </div>
            </div>
            <div>Stable</div>
        </div>
        {
            lookup.map((lang, i) => {
                return (
                    <a class="row" href={`/${lang.name}`}>
                        <div>{i + 1}</div>
                        <div class="large-cell">{lang.name}</div>
                        <div class="complexity">
                            <div class="complexity-individual rowC">
                                <div>{lang.details.best}</div>
                                <div>{lang.details.average}</div>
                                <div>{lang.details.worst}</div>
                                <div>{lang.details.space}</div>
                            </div>
                        </div>
                        <div>{lang.details.stable}</div>
                    </a>
                );
            })
        }
    </div>
</BaseLayout>

<style>
    .table {
        background: var(--color-tertiary);
        width: 100%;
        height: 100%;
    }
    .large-cell {
        width: 10rem;
        text-align: center;
    }
    .headers {
        padding: 1rem 3rem;
        display: flex;
        justify-content: space-between;
        background: var(--color-primary);
        font-size: larger;
    }
    .row {
        color: white;
        padding: 1rem 3rem;
        display: flex;
        justify-content: space-between;
        font-size: larger;
    }
    .complexity {
        display: flex;
        width: 35rem;
        flex-direction: column;
        align-items: center;
    }
    .complexity-individual {
        display: flex;
        width: 100%;

        justify-content: space-between;
    }
    .rowC {
        padding: 0rem 0rem 0rem 2em;
    }
</style>
